

.navbar-default
{
    background-color: #2B3A42;
    border: none;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    {
        background-color: transparent;
    }

    .navbar-default .navbar-nav > li > a
    {
        font-family: "Gafata";
        color: #BDD4DE;
    }

.current
{
    /*Cor do Bacground do link corrente*/
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border: none;
}

.navbar-collapse
{
    box-shadow: none;
}

body
{
    background-color: #FFFEF1;
}

.info
{
    font-family: "Gafata";
    color: #ff530d;
    font-size: 3.5vh;
    padding-top: 5.0vh;
}

.title-info
{
    font-family: 'Segoe UI';
    color: #ffffff;
    font-size: 10.5vh;
    padding-top: 5.0vh;
}

.title-info-verde
{
    color: #037E8C;
}

.info-red
{
    color: #FF530D;
}

.info-white
{
    color: #ffffff;
}

.info-verde
{
    color: #037E8C;
}

.info-azul
{
    color: #0C273D;
}


.down
{
    padding-top: 5.0vh;
}

.section
{
    min-height: 500px;
    padding-top: 60px;
    text-align: center;
}

#section-1
{
    background-color: #f5f5f5;
}

#section-2
{
    background-color: #3498DB;
}

#section-3
{
    background-color: #FF530D;
}

#section-4
{
    background-color: #60a917;
}

#section-5
{
    background-color: #FFFEF1;
}
#section-6
{
    background-color: #FFFEF1
}
#section-7
{
    background-color: #FFFEF1
}

#mapa
{
    height:70%;
    width:70%
}
.form-control, .btn
{
    margin:5px
}


.carousel-control.right
{
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.040) 100%));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left
{
    background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));
    background-image: linear-gradient(to right,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
