

#current-link
{
    font-family: 'Segoe UI Light', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

body
{
    /*background-color:#FFFCC4*/
    background-color: #ffffff;
}

body
{
}

.cabecalho
{
    
    height: 350px;
    background-color:#325E72;
   
}

.seta-esquerda
{
    background-image: url('images/esquerda-branca.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position-y: 140px;
    background-position-x: 50%;
    
}

.seta-direita
{
    background-image: url('images/direita-branca.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position-y: 140px;
    background-position-x: 50%;
    
}


.conteudo
{
    height: 1100px;
}

.corpo
{
    
}

.coluna
{
    
    height: 250px;
}

#section-1
{
    background-color: #CFDCD3;
}

#section-2
{
    background-color: #f1c40f;
}

#section-3
{
    background-color: #34495e;
}

#section-4
{
    background-color: #16a085;
}

#section-5
{
    background-color: #95a5a6;
}
.box-info
{
    
    height:250px;
    width:100%;
    padding-right:25px;
    padding-left:25px;
    text-align:center;
    padding-top:20px
    
    
}