

.navbar-default
{
    background-color: #2B3A42;
    border: none;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    {
        background-color: transparent;
    }

    .navbar-default .navbar-nav > li > a
    {
        font-family: "Gafata";
        color: white;
    }

.current
{
    /*Cor do Bacground do link corrente*/
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border: none;
}

.navbar-collapse
{
    box-shadow: none;
}

body
{
    background-color: red;
}

.info
{
    font-family: "Gafata";
    color: white;
    font-size:3.5vh;
    padding-top:5.0vh;
       
}
.info-red
{
    color:#FF530D
}
.down
{
    padding-top:5.0vh;
}
.section
{
    min-height: 500px;
    padding-top:100px;
    text-align:center

}

#section-1
{
    background-color: #3498DB;
}

#section-2
{
    background-color: #ECF0F1;
}

#section-3
{
    background-color: #FF530D;
}

#section-4
{
    background-color: #3F5765;
}
